.form-container {
  display: grid;
  grid-template-columns: repeat(1fr, 2fr);
  background-color: #fff;
  border: 1px dotted gray;
  padding: 1rem;
  width: 500px;
  border-radius: 5px;
  box-shadow: 1px 1px 5px gray;
  background-size: 100px 100px;
  background-image:
    linear-gradient(to right, rgba(0, 0, 0, 0.1) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 1px, transparent 1px);
}

.form-container input,
.form-container textarea {
  width: 100%;
  height: 2rem;
  resize: none;
  padding: 0.5rem;
  font-size: 1rem;
}

.form-container textarea {
  height: 8rem;
}

.form-container label {
  font-size: 1.2rem;
  width: 50%;
  text-align: left;
  font-weight: bold;
}

.line-break {
  margin: 0.5rem 0;
}

.form-container button {
  background-color: #345;
  color: #fff;
  padding: 0.3rem;
  font-size: 1.2rem;
  transition: linear 0.5s;
}

.form-container button:hover {
  background-color: #222;
  letter-spacing: 0.1rem;
}