.footer-contact-container {
  position: relative;
  font-size: 2rem;
  color: #fff;
  background-color: #345;
  padding: 3rem;
  margin: 1rem;
  margin-bottom: 2.5rem;
  text-align: left;
  box-shadow: 1px 1px 1px gray;
  border-radius: 5px;
}

.footer-contact-container::before {
  content: "";
  position: absolute;
  border-top: 80px solid #345;
  bottom: -35px;
  left: 0;
  right: 0;
  border-left: 125px solid transparent;
  border-right: 125px solid transparent;
}