.header-container {
  background-color: #345;
  width: 100%;
  color: white;
  padding-top: 1rem;
}

.header-container h1 {
  letter-spacing: 0.4rem;
}

.header-list {
  display: flex;
  align-items: center;
}

.header-list-container {
  background-color: #345;
  color: #fff;
  width: 100%;
}

.header-list li {
  padding-right: 1rem;
  margin-bottom: 1rem;
}

.github a {
  color: var(--orange);
}

.linkedin a {
  color: var(--cyan);
}

.resume a {
  color: var(--yellow);
}

.contact > * {
  color: var(--darkcyan);
}