.program-list-container {
  width: 800px;
  font-size: 1.2rem;
}

.program-list-container li {
  border: 1px dotted gray;
  width: 10rem;
  margin: 0 auto;
  background-color: #fff;
}

.program-list-container a {
  color: #333;
}